.top {
    color:rgb(156,200,136);
    display:flex;
    justify-content:flex-end;
    justify-content:space-around;
}

.ulcall {
    display:flex;
    flex-direction:row;
    list-style-type:none;
    padding: 10px;
}

#one, #two, #three {
    padding:5px;
}